.mdl-layout-title {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 150%;

 }

 form {
 margin-left: 50px;
}

#addbutton {
  margin-left: 25px;
}

#toDoList {
  margin-left: 25px;
  list-style-type: none;
}

li {
  margin-left: 15px;
  margin-top: 10px;
}

li > input {
  position: absolute;
  left:50px;
  margin-top: 5px;

}

li > button {
position: absolute;
left: 292px;
margin-top: 5px;
}
